@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

#terminal {
    font-family: "Fira Code", monospace;
    color: #fff;
    background-color: #1c1c1c;
    line-height: 4px;
    font-size: 14px;
}