@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

html, body {
    height: 100%;
}

#terminal {
    font-family: "Fira Code", monospace;
    color: #fff;
    background-color: #1c1c1c;
    line-height: 4px;
    font-size: 14px;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: block;
}